.nawigacja {
    background-color: rgb(130, 195, 130);
    height: 60px;
    width: 100%;
    font-size: 30px;
}

.buton {
    color: black;
}

#menu {
    position: fixed;
    top: 0;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.ramka {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: none;
    padding: 10px;
    width: 100%;
    border: 3px solid #b4ff43d3;
    margin-top: 100px;
}

.tekst {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}

.naw2 {
    background-color: rgba(30, 255, 0, 0.219);
    margin-right: 40px;
    border-bottom: 5px solid rgb(51, 255, 0);
    font-size: 40px;
}

.tytul2 {
    font-size: 20px;
    margin-left: 10px;
}

.opcje {
    border: none;
    border-bottom: 3px solid rgba(38, 255, 0, 0.76);
    background-color: rgb(180, 255, 157);
    color: rgba(0, 0, 0, 0.8);
    width: 295px;
    height: 50px;
}

.btn:hover {
    background-color: rgb(165, 255, 138);
}